@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bgwiz-tile: url("/jspixtile.webp");
  --bgwiz-tile-blue: url("/jspix-tile-blue.webp");
  --bg-dark-trans: rgba(0, 0, 0, 0.6);
  --bgwiz-blue: url("/jspix.webp");
}

.bg-dark-trans {
  background-color: var(--bg-dark-trans)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: var(--bgwiz-blue);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* filter: invert(0.8); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-white text-3xl drop-shadow-xl px-4 bg-dark-trans;

}

p {
  @apply text-white text-xl px-2 bg-dark-trans;
}

.formClasses {
  @apply left-0 top-0 flex w-full justify-center border-b flex-col gap-6 items-center
border-gray-300 bg-gradient-to-b from-zinc-200 pb-6 pt-8 backdrop-blur-2xl 
dark:border-neutral-800 dark:bg-zinc-800/30 dark:from-inherit static w-auto 
 rounded-xl border bg-gray-200 p-4 dark:bg-zinc-800/30;
}

.formClasses input, .formClasses textarea {
  @apply mx-2 border-2 border-transparent;

}

.formClasses.error-text textarea, .formClasses.error-amount input[type=number]  {
  @apply border-orange-600 border-2;
}

.formClasses.error-status input[type=checkbox]:after {
  content: "!";
  color: red;
  font-size: 1rem;
  margin-left:1rem;

}

.main {
  @apply flex min-h-screen flex-col items-center gap-12 p-36;
  background-image: var(--bgwiz-blue);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-clip: content-box;
  filter: hue-rotate(60deg);
}

.block {
  @apply z-10 w-full max-w-5xl items-center justify-center font-mono text-sm flex;
}

.submit {
  @apply px-2 ms-2 bg-slate-50 border-green-800 border-2 disabled:bg-black disabled:cursor-wait disabled:text-white;
}


.quest-block {
  @apply relative z-[-1] flex place-items-center bg-dark-trans;
}

.error {
  @apply border-orange-800;
}